/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "Inter", sans-serif;
  font-variation-settings: "wght" var(--font-normal);
  background-color: var(--main-color);
  color: var(--accent-color);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: 90%;
  max-width: 700px;
  min-height: 368px;
  background-color: var(--main-color);
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: "PressStart2P", fantasy;
  border: solid 2px var(--accent-color);
}

.header__title {
  margin-top: max(136px, 120px);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-top: 20px;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-top: 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  width: 84px;
  gap: 12px;
}

.theme-menu__item button {
  background-color: var(--main-color);
  border: none;
  text-transform: uppercase;
  text-align: left;
  transition: opacity 0.3s ease;
}

.theme-menu__item button:hover {
  opacity: 0.6;
  cursor: pointer;
  position: relative;
}

.theme-menu__item button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__item button:disabled::before {
  content: "▶";
  position: absolute;
  left: -12px;
  animation: arrow 0.5s infinite ease-in-out alternate-reverse;
}

.theme-menu__item button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__item button::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s, opacity 0.3s ease;
}

.theme-menu__item button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.card {
  z-index: 1;
  width: 100%;
  max-width: 700px;
  margin-top: 50px;
  background-color: var(--main-color);
  border: solid 2px var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card:first-of-type {
  margin-top: 100px;
}

.card__title {
  font-variation-settings: "wght" var(--font-header);
  font-size: 18px;
  margin: 4px 10px 4px;
}

.card__image_wrapper {
  position: relative;
  max-width: 696px;
  max-height: 696px;
  aspect-ratio: 1/1;
  outline: 2px solid var(--accent-color);
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.filter__grayscale {
  filter: contrast(40%) grayscale(0.9);
}

.filter__saturation {
  filter: saturate(350%);
}

.filter__sepiablur {
  filter: sepia(1) blur(0.1rem);
}

.filter__inversion {
  filter: invert(0.7);
}

.filter__hueshift {
  filter: hue-rotate(45deg) blur(0.1rem);
}

.filter__sepiasaturation-inverted {
  filter: sepia(40%) invert(0.4) saturate(550%);
}

.filter__hueshift-contrast {
  filter: contrast(200%) hue-rotate(90deg);
}

.card__image-watermark {
  position: absolute;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  top: 30px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px var(--main-color);
}

.card__text {
  width: 94%;
  margin: 32px auto 0;
  font-size: 18px;
  line-height: 1.1em;
}

.card__button-container {
  height: 38px;
  margin: 25px;
  align-self: end;
  display: flex;
  background: none;
  border: none;
  justify-content: space-between;
  padding: 0;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  min-width: 38px;
  min-height: 38px;
  padding: 0;
  margin-right: 7px;
}

.heart {
  transform-origin: center center;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.3s linear;
}

.card__button-container:hover {
  cursor: pointer;

  .button::before {
    transform: translate(0);
  }

  .core {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
  }

  .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.card__button-container:active {
  .core {
    fill: var(--heart-color);
    transition: fill 0.03s linear;
  }

  .main-body {
    fill: var(--heart-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.like-icon.is-liked {
  .contour {
    fill: var(--heart-color);
    transition: fill 0.1s linear;
  }

  .core {
    fill: var(--heart-color);
    transition: fill 0.03s linear;
  }

  .main-body {
    fill: var(--heart-color);
    transition: fill 0.3s 0.05s linear;
  }

  .heart {
    animation: heartbeat 0.3s ease-in 0.1s alternate-reverse;
  }

  .sparks {
    animation: sparks 0.3s 0.3s ease-in alternate-reverse;
  }
}

.button {
  position: relative;
  border: solid var(--accent-color) 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transform: translate(-100%);
  transition: 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}

.button:hover::before {
  transform: translate(0);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px #000000;
}

.card__like-button {
  width: 130px;
  height: 100%;
}

.button__text {
  color: var(--button__reverse-color);
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.save__button {
  width: max(336px, 306px);
  background: var(--main-color);
  margin: 50px auto 100px;
  height: 55px;
}

.save__button-icon {
  color: var(--button__reverse-color);
  margin-right: 8px;
  mix-blend-mode: difference;
}

.save__dialog {
  width: max(353px, 341px);
  min-height: 191px;
  background-color: var(--main-color);
  border: solid 2px var(--accent-color);
  padding: 0;
}

.save__dialog .save__button {
  margin: 26px auto 30px;
  width: max(293px, 257px);
  height: 38px;
  justify-content: center;
}

.save__dialog .button__text {
  text-transform: uppercase;
}

.save__dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__icon {
  height: 39px;
  width: 39px;
}

.dialog__title {
  color: var(--accent-color);
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5em;
  width: max(293px, 257px);
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.dialog__title span {
  width: 80%;
}

@supports (
  (text-stroke: 1px var(--main-color)) or
    (-webkit-text-stroke: 1px var(--main-color))
) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
    text-shadow: none;
  }
}

@media (width <=375px) {
  .header {
    width: 100%;
    min-height: 327px;
  }

  .header__title {
    margin-top: 120px;
  }

  .card__image-watermark {
    top: 26px;
    right: 12px;
  }

  .card__text {
    width: 85%;
  }

  .card__image_wrapper {
    height: 371px;
    width: 371px;
  }

  .save__button {
    flex-direction: column;
    width: 84%;
    height: 84px;
  }

  .save__button-icon {
    width: 28px;
    height: 28px;
    margin: 15px auto 8px;
  }
}
