/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
 --main-color: #fff;
 --accent-color: #000;
 --font-normal: 400;
 --font-header: 700;
 --gradient:   repeating-linear-gradient( #d3d3d3 0 2px , transparent  2px 4px),
    repeating-linear-gradient(90deg,  #d3d3d3 0 2px , transparent  2px 4px),
    linear-gradient(180deg, #e7e7e7, #1a1a1a 0.01%)
    ;
--button__reverse-color: #fff;
--heart-color: #FF0000;
}